<!DOCTYPE html>
<html>
	<head>
		<title>{{pagetitle}}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">contact</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{content}}
		</div>
		<footer>
    		<ul>
        		<li><a href="mailto:vikasmeena0418@gmail.com">email</a></li>
        		<li><a href="https://github.com/vikasm0418">github.com/vikasm0418</a></li>
			</ul>
		</footer>
	</body>
</html>
