<!DOCTYPE html>
<html>
<!doctype html>
<html>
<head>
    <title>{{pagetitle}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/ >
    <link href="vikasm0418.github.io/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="vikasm0418.github.io/css/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="vikasm0418.github.io\font-awesome\css\font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script>
    </script>
</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">contact</a></li>
    		</ul>
		</nav>
		<div class="jumbotron">
    		{{content}}
		</div>
		<footer>
    		<ul>
        		<li><a href="mailto:vikasmeena0418@gmail.com">email</a></li>
        		<li><a href="https://github.com/vikasm0418">github.com/vikasm0418</a></li>
			</ul>
		</footer>
	</body>
</html>
